<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%t] [%logger{36}/%-4level]: %msg%n"/>
		</Console>
		<RollingRandomAccessFile name="Log" fileName="logs/current.log" filePattern="logs/%d{MM.dd.yyyy}-%i.log.gz">
			<PatternLayout pattern="[%d{HH:mm:ss}] [%t] [%logger{36}/%-4level]: %msg%n"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="Log"/>
		</Root>
	</Loggers>
</Configuration>